* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.gameContainer {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino {
    background-image: url(mario.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 352px;
}

#scoreCont {
    position: relative;
    font-size: 73px;
    text-align: center;
    top: 93px;
    font-family: sans-serif;
}

.gameOver {
    position: relative;
    font-size: 73px;
    text-align: center;
    top: 93px;
    font-family: sans-serif;
}

.obstacle {
    background-image: url(dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 156px;
    height: 93px;
    position: absolute;
    bottom: 0;
    left: 66vw;
}

.animateDino {
    animation: dino 0.6s linear;
}

.obstacleAni {
    animation: obstacleAni 5s linear infinite;
}

@keyframes dino {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 422px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes obstacleAni {
    0% {
        left: 100vw;
    }
    100% {
        left: -10vw;
    }
}

@keyframes fall {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: -220px;
    }
}